body{
    color: white;
    background-color: pink;
}

#mom{
    background-color: paleturquoise;
}

#sister{
    background-color: paleturquoise;
}

#me{
    background-color: paleturquoise;
}